# Bootstrap
app/bootstrap*
app/SymfonyRequirements.php

# Symfony directories
vendor/
app/logs/
app/cache/
web/uploads/
web/bundles/

# Configuration files
app/config/parameters.ini

# Composer related files
vendor/composer/installed.json

# Assetic-generated .js and .css files
web/js/
web/css/

# Project's upload directory
web/upload/

# Spool directory
spool/

# Backup files
*~

#NetBeans private files
/nbproject/private/
