{% extends '::base.html.twig' %}
{% block body %}
<h2>Disclaimers</h2>
<h3>Maybe they are not who they claim themselves to be</h3>
<p>Users and Companies may or may not be the ones who they claim themselves to be. As we do not have the time, resources and possibility given by law to check our users' identity, so the only thing we can do is to trust them.  However, if someone contacts us and proves that their name is stolen and used illegally on our site, we are always here to help them.</p>
{% endblock body %}

