{% extends '::base.html.twig' %}
{% block body %}
<img src="{{ asset('images/logo.png') }}" alt="OpenScrum.org" />
<h2>Welcome to OpenScrum.org!</h2>
<p>OpenScrum.org is a web based tool to help development teams to develop using the <a href="http://www.scrum.org/" target="_blank">Scrum</a> methodology.</p>
{% endblock %}
