{% extends '::base.html.twig' %}
{% block body %}
<h2>OpenScrum.org's Privacy Policy</h2>

<h3>Passwords</h3>
<p>If you register on our site with a username/password pair, your password is encrypted with a one-way algorithm, which means that neither us, neither a hacker can get your password from our database.</p>

<h3>Personal information</h3>
<p>All the data you upload on your Profile page is visible to our server administrators. They are, however, not really interested in this kind of data. Also, if you check the "Make my Profile public" checkbox, your Profile will be available to every registered user on the site, so be careful what you enter there.</p>

<h3>Bank account and credit card information</h3>
<p>If you buy anything from the Store, all your financial data is entered on the PayPal website. We only get your public PayPal data from them (mostly your contact information), no bank account or credit card information is processed by us.</p>
{% endblock body %}
